body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

main {
  min-height: 200px;
  padding-top: 200px;
  color: black;
  background-color: white;
  
}

main::after,
.slides::after {
  content: "";
  display: table;
  clear: both;
}

article.blog-entry {
  min-height: 100px;
  margin: 0 200px;
  padding: 10px;
  background-color: rgba(241, 196, 15, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 3px #cccccc;
  text-shadow: 1px 1px 1px #000;
}

.blog-entry::after {
  content: "";
  display: table;
  clear: both;
}

section.idea {
  float: left;
  width: 46%;
  min-height: 100px;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #cd9a30;
  text-shadow: 1px 1px 1px #000;
}

.idea > p {
  margin: 1em 0;
  font-size: 0.8em;
}

.idea > p:last-child {
  margin: 0;
}

.idea > h2 {
  margin: 0;
  font-size: 0.9em;
}

aside.video-preview {
  float: right;
  width: 46%;
  margin: 0 0 1em 0.5em;
  padding: 0.3em 0.3em 0.65em;
  background-color: #ffffff;
  box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2);
}

.video-preview > img {
  width: 100%;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

h2 {
	font-size: 56px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 12px;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  min-width: 550px;
  height: 200px;
  margin-bottom: 70px;
  padding-top: 100px;
  background-size: cover;
  color: #000000;
}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 30px;
  line-height: 24px; 
}

.site-header img {
  display: block;
  margin: 0 auto;
}


.half-width {
  width: 80%;
}

.center {
  text-align: right;
}

fieldset {
  padding: 10px;
  width: 40%;
 margin: 0 400px;
  border: 1px solid #34495e;
  border-radius: 5px;
}

IMG.fig {
     /* Обтекание картинки по левому краю */
    padding-left: 400px; /* Отступ слева */
    padding-bottom: 10px; /* Отступ снизу */
   }


.site-footer {
  min-width: 550px;
  background-color: #847462;
  color: #ffffff;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

 .round {
    border-radius: 100px; /* Радиус скругления */
     /* Параметры рамки */
     /* Параметры тени */
   }
   
 P.cite { /* Абзац с классом cite */
    color: navy; /* Цвет текста */
    margin-left: 70px; /* Отступ слева */
    border-left: 1px solid navy; /* Граница слева от текста */
    padding-left: 15px; /* Расстояние от линии до текста */
   } 