.modal{
  padding: 30px;
  background: #ccc;
  position: fixed; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
input[type="text"] {
   color:aqua;
   background-color: #777; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   height: 24px; // высота на свое усмотрение
   width: 120px; // ширина на свое усмотрение
   color: #cccccc; //цвет шрифта в обычном состоянии
   font-size: 11px; // Размер шрифта
}

input[type="text"]:focus {
  background-color: blueviolet;
  border: 5px solid #000
}
body{
    
}